.content-bock {
  width: 400px;
}

.my_img {
  width: 10cm;
  height: auto;
  border-radius: 8px;
}

.service-image {
  float: left; /* or right */
  width: 10cm; /*300px*/
  height: auto;
  border-radius: 8px;
  margin: 0 2rem 1rem 0;
}

/* Important: clear the float after the section so it doesn't bleed into the footer */
.service-content::after {
  content: "";
  display: block;
  clear: both;
}
.service-content {
  overflow: hidden;
}

.main-header {
  background-color: #2C282E;
  height: 124px;
}

.header-logo {
  height: 100%;
  width: auto;
  display: block;
}

/* Damit auch Formularelemente und Buttons die gleiche Schrift nutzen */
button,
input,
textarea,
select {
  font-family:'Lora', Georgia, "Times New Roman", serif !important; /*"Times New Roman"*/
  font-size: 14px;
}

/* Fließtext */
p,
li,
a,
span,
div,
label {
  /* font-size: 14px; */
  text-align: justify;
  font-family: 'Lora', Georgia, "Times New Roman", serif  !important;
  font-size: 1.25rem;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  margin-top: 1.5rem;
}

/* Titel */
h1 {
  font-family: 'Lora', Georgia, "Times New Roman", serif !important;
  font-size: 24px;
  text-align: left;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  margin-top: 1.5rem;
}

h2,
h3
 {
  font-family:'Lora', Georgia, "Times New Roman", serif !important;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  margin-top: 1.5rem;

}

h4,
h5,
h6 {
  font-family: 'Lora',Georgia, "Times New Roman", serif !important;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  text-align: left;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  margin-top: 1.5rem;

}

html, body {
  font-family: 'Lora', Georgia, "Times New Roman", serif !important;
  font-size: 12px;
  line-height: 1.5;
}

*,
*::before,
*::after {
  font-family: inherit;
}



button,
input,
textarea,
select,
.card,
.navbar,
.btn,
.form-control {
  font-family: 'Lora', Georgia, "Times New Roman", serif !important;
  font-size: 12px;
}

.carousel-img {
  width: 60%;
  height: auto;
}